

I felt as if everything in this world was set up against me, and I realized my mission: break the broken rules.
My intense curiosity leads me to understand things from a broader perspective.
I started in the Information and Technology field with a bunch of colleagues.
I've never liked the term "employees" and I always prefer talking about peers, mates, or colleagues.
While working, I was thinking of a different approach to delivering software, and I embraced lean, agile, and scrum.
This was in late 1998. Since then, my mantra has been: Break the broken rules and learn from mistakes.
I made lots of mistakes, and I am still waiting for the next. During my life, I shifted from the idea of self-management as a practice to the idea self-management as a culture.
I moved from the idea of a user-centered approach to a stakeholder centered approach and finding the real reason that resonates on working instead of finding the best technology to solve problems. Most of the time, I observed that things, as they flow, are creating a negative impact, so I inverted control. I tend to trust everybody, and I love the idea of co-creation. By doing this, at 20 or so years old, I was able to start taking care of impact management and started learning from mistakes and failures. I'm doing lots of training, mistakes, conferences and I love the continuous improvement.
I abandoned powerpoint and started drawing every presentation myself.
